// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: #6673b6,
    200: hsl(230, 35%, 56%),
    300: #6f534f,
    400: #a1b7e7,
    500: #6673b6,
  ),
  secondary: (
    100: #ac9d9a,
    200: #ac9d9a,
    300: #6f534f,
    400: #f37017,
    500: #f37017,
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
