---
import { Image } from 'astro:assets'

const { imgSrc, reverseImg = false, alt = "" } = Astro.props
---

<section class="my-64">
  <div class="container">
    <div class="grid grid-cols-1 items-center justify-between justify-items-center gap-24 md:grid-cols-2">
      {
        !reverseImg ? (
          <Image src={imgSrc} alt={alt} width={256} height={256} class="max-w-52 rounded-lg md:max-w-64" />
        ) : undefined
      }
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
      {
        reverseImg ? (
          <Image src={imgSrc} alt={alt} width={256} height={256} class="max-w-52 rounded-lg md:max-w-64" />
        ) : undefined
      }
    </div>
  </div>
</section>
