---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { useTranslations, type Locale } from '../utils/i18n'

const t = useTranslations(Astro.currentLocale as Locale)

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p class="text-center text-base">
        &copy; {currentYear} - Ann-Kathrin Rahlwes | Historikerin | <a href="mailto:letstalk@rahlwes.eu"
          >letstalk@rahlwes.eu</a
        > | <a href={getRelativeLocaleUrl(Astro.currentLocale ?? 'de', '/imprint')}>{t('imprint.title')}</a> | <a
          href={getRelativeLocaleUrl(Astro.currentLocale ?? 'de', '/privacy')}>{t('privacy.title')}</a
        >
      </p>
    </div>
  </section>
</footer>
