---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Ann-Kathrin Rahlwes | Historikerin | <a href="mailto:letstalk@rahlwes.eu">letstalk@rahlwes.eu</a>.
      </p>
    </div>
  </section>
</footer>
