---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getCurrentLocalizedPath } from "../utils/i18n"
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href={getRelativeLocaleUrl(Astro.currentLocale ?? "de")}>Home</a>
    </li>

    {
      Astro.currentLocale !== 'en' && (
        <li>
          <a aria-label={"switch language to english"} href={getCurrentLocalizedPath(Astro.url, 'en')}>en</a>
        </li>
      )
    }
    {
      Astro.currentLocale !== 'de' && (
        <li>
          <a aria-label="Sprache zu Deutsch ändern" href={getCurrentLocalizedPath(Astro.url, 'de')}>de</a>
        </li>
      )
    }
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
