---
import Navigation from '../components/Navigation.astro'
import { Modal, SkipLinks } from 'accessible-astro-components'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getCurrentLocalizedPath, useTranslations, type Locale } from '../utils/i18n'

const url = Astro.url
const t = useTranslations(Astro.currentLocale as Locale)
---

<header>
  <Modal triggerId="newsletter-trigger" closeText={t('newsletter.cancel')}>
    <div class="max-w-96">
      <form
        method="post"
        action={`https://lists.rahlwes.eu/subscription/form?redirect=${url}?newsletter=success`}
        class="grid grid-cols-1 gap-10"
      >
        <h2>{t('newsletter.title')}</h2>
        <p>{t('newsletter.description')}</p>
        <input type="hidden" name="nonce" />
        <input id="bd8da" type="hidden" name="l" checked value="bd8da52f-8b88-4da7-8025-fb3efc516165" />
        <div class="grid grid-flow-row gap-10 lg:gap-3">
          <label class="mb-2 block text-xs font-bold uppercase tracking-wide" for="grid-email">
            {t('home.contact.email')}
          </label>
          <input
            class="block w-auto appearance-none rounded border px-3 py-3 leading-tight focus:bg-white focus:outline-none"
            id="grid-email"
            type="email"
            name="email"
            placeholder="jane.doe@email.com"
            required
          />
          <button type="submit" class="button w-min">{t('newsletter.subscribe')}</button>
        </div>
      </form>
    </div>
  </Modal>

  <div class="fixed bottom-10 right-8 z-50">
    <a
      aria-label={t('floating.contact') as string}
      href={`/${Astro.currentLocale}/#contact`}
      class="button rounded-full px-4 py-3 text-lg shadow-lg">&#128172;</a
    >
  </div>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href={getRelativeLocaleUrl(Astro.currentLocale ?? 'de')}>{'Home'}</a>
    </li>

    <li class="menu-item">
      <a href={getRelativeLocaleUrl(Astro.currentLocale ?? 'de', '/museums')}>{t('museums.title')}</a>
    </li>

    <li class="menu-item">
      <a href={getRelativeLocaleUrl(Astro.currentLocale ?? 'de', '/families')}>{t('families.title')}</a>
    </li>

    <li class="menu-item">
      <a href={getRelativeLocaleUrl(Astro.currentLocale ?? 'de', '/blog')}>{t('blog.title')}</a>
    </li>

    <li class="menu-item">
      <a href={getRelativeLocaleUrl(Astro.currentLocale ?? 'de', '/team')}>{t('team.title')}</a>
    </li>

    {
      Astro.currentLocale !== 'en' ? (
        <li>
          <a aria-label={'switch language to english'} href={getCurrentLocalizedPath(Astro.url, 'en')}>
            en
          </a>
        </li>
      ) : (
        <li>
          <a aria-label="Sprache zu Deutsch ändern" href={getCurrentLocalizedPath(Astro.url, 'de')}>
            de
          </a>
        </li>
      )
    }
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>

<script>
  const delay = 10000
  const daysUntilNewsletterAsk = 7
  const newsletterAskTimestamp = localStorage.getItem('newsletterAskTimestamp')
  const sevenDaysEarlierTimestamp = new Date().getTime() - daysUntilNewsletterAsk * 24 * 60 * 60 * 1000
  if (!newsletterAskTimestamp || Number.parseInt(newsletterAskTimestamp) < sevenDaysEarlierTimestamp) {
    setTimeout(() => {
      const newsletterTrigger = document.querySelector('#newsletter-trigger') as HTMLElement
      newsletterTrigger.click()
      localStorage.setItem('newsletterAskTimestamp', new Date().getTime().toString())
    }, delay)
  }
</script>

<script>
  if (new URLSearchParams(window.location.search).get('newsletter') === 'success') {
    localStorage.setItem('newsletterAskTimestamp', Infinity.toString())
  }
</script>
