---
import { Icon } from 'astro-icon/components'
import { Locale, useTranslations } from "../utils/i18n";

const t = useTranslations(Astro.currentLocale as Locale);

const { src = '/anka-rtl.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>{t("home.h1")}</slot>
        </h1>
        <p>
          {t("home.intro")}
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a
            class="button color-primary"
            href="https://github.com/markteekman/accessible-astro-starter/blob/main/README.md"
          >
            {t("home.more")}
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
